body {
  width: 300px;
  height: 100px;
  padding: 5px;
}

.hideme {
  display: none;
}

button {
  height: 30px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  padding: 6px 10px;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}
